.container{
    width: 100%;
    height: auto;
}
.cubicle-main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    align-content: center;
    justify-content: center;
}
.cubicle-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cubicle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    gap: 12px;
    align-content: center;
    justify-content: center;
}
.cell{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:1px solid green ;
}
.cell-on{
    background-color: greenyellow;
}
.scan-container{

}
.scanned-results{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    gap: 5px;
}
.qr-scanned-cell{
    border: 1px solid lightgreen;
    border-radius: 7px;
    min-width: 20px;
    min-height: 20px;
    padding-left: 8px;
}
.filled-cell{
    display: flex;
    justify-content: center;
    height: 90%;
    align-items: center;
}
.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}